<?php

define("SQL_HOST", "mysql:host={{mar_db_hostname}};dbname={{mar_db_database}};charset=utf8");
define("SQL_USER", "{{mar_db_username}}");
define("SQL_PASS", "{{mar_db_password}}");

define("SESSION_NAME", "marSession");

// not sure if this is a sensible way to get a public hostname for the websocket
// alternatives are SERVER_NAME, or hardcoding into ansible vars
define("MAR_ADDRESS", "ws://{$_SERVER['HTTP_HOST']}/{{mar_ws_path}}");
define("MAR_TICK_LENGTH", 1000);
define("MAR_SERVER_NAME", "Official MAR server");

//Servers displayed in the servers tab
define("SERVER_LIST", array(
    array("<b>Official MAR Server</b>", "https://muchassemblyrequired.com/game.php", "Official Game server. Should be the most up-to-date"),
    array("mlaga97's alternative server", "http://muchassemblyrequired.mlaga97.space/game.php", "<i>none</i>"),
    array("Jaggernaut's backup server", "http://jaggernaut.ca/game.php", "<i>none</i>"),
));



//Plugins
//Version
